body {
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    margin: 2%;
    background-image: url(https://cutewallpaper.org/21/8-bit-gif-background/8-bit-background-gif-2-%C5%A5-GIF-Images-Download.gif);
    background-repeat: no-repeat;
    background-size: cover;

}

header {
    padding: 20px;
    text-align: center;
}

nav {
    text-align: right;
    padding: 0 80px 10px 40px;

}

a {
    padding-left: 40px;
}

form {
    text-align: center;
    align-items: center;
    margin-top: 200px;
}

input {
    border-style:  2px solid darkblue;

}

input[type=text] {
    width: 100%;
    padding: 12px 200px;
    margin: 8px 0;
  }

input[placeholder] {
    text-align: center;
}