body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    margin: 2%;
    background-image: url(/assets/Images/Main_Page.gif);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

}

a {
    text-decoration: none;
    color: white;
    font-weight: 800;

}

header {
    padding: 20px;
    text-align: center;
    font-weight: 1000;
    font-size: 60px;
}

nav {
    text-align: right;
    padding: 0 80px 10px 40px;

}

a {
    padding-left: 40px;
}

form {
    text-align: center;
    align-items: center;
    margin-top: 200px;
}

input {
    border:  2px solid white;
    border-radius: 12px;

}

input[type=text] {
    width: 100%;
    padding: 12px 200px;
    margin: 8px 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
  }

input[placeholder] {
    text-align: center;
    background-color: rgba(172, 158, 248, 0.671);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1.8px;
    font-weight: bold;
}

::placeholder {
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
}